spring:
  application:
    name: demo2

  datasource:
    url: jdbc:postgresql://localhost:5432/cars
    username: postgres
    password: 12345
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 20000
      maximum-pool-size: 10

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          batch_size: 20
        order_inserts: true
        order_updates: true

  sql:
    init:
      mode: always
      platform: postgresql

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: YOUR_CLIENT_SECRET
            client-secret: YOUR_CLIENT_ID
            scope:
              - profile
              - email
            redirect-uri: "http://localhost:8080/login/oauth2/code/google"
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: sub


logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.springframework.transaction: DEBUG
jwt:
  secret: my-super-secret-key-my-super-secret-key
  access-exp-time: 360_000
  refresh-exp-time: 420_000